.openzeppelin

# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/
cache/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
.env.production

node_modules
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Dependency directories
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test